body {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.search-form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-form input {
  width: 272px;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border-color: #808080;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.gallery-item {
  border: 1px solid black;
}

.gallery-item img {
  width: 360px;
  height: 240px;
}

.item-data-list {
  display: flex;
  gap: 8px;
  padding-inline-start: 0;
  justify-content: center;
}

.data-list-item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.load-more-button-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.load-more-button {
  border-radius: 8px;
  padding: 1px 16px;
  width: 140px;
  height: 40px;
  align-items: center;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.load {
  margin: 0 auto;
}
